<table align="center">
  <tr bgcolor="#90EE90">
    <th>Nome Reclamante</th>
    <th>Data Nasc</th>
    <th>Nome Mae</th>
    <th>Nome Pai</th>
    <th>Endereco</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Uf</th>
    <th>Nº CTPS</th>
  </tr>
<% @reclamante.each do |reclamante| %>
  <tr class="<%= cycle("cor1", "cor2") %>">
    <td><%=h reclamante.Nome_Reclamante %></td>
    <td><%=h reclamante.Data_Nascimento %></td>
    <td><%=h reclamante.Nome_Mae %></td>
    <td><%=h reclamante.Nome_Pai %></td>
    <td><%=h reclamante.Endereco %></td>
    <td><%=h reclamante.Bairro %></td>
    <td><%=h reclamante.Cidade %></td>
    <td><%=h reclamante.UF %></td>
    <td><%=h reclamante.CTPS %></td>
    <td><%= link_to 'Exibir', reclamante %></td>
    <td><%# link_to 'Editar', edit_reclamante_path(reclamante) %></td>
  </tr>
<% end %>
</table>

<br />
